h1 {
    color: blue;
}
.calculator {
    width: 400px;
    height: fit-content;
    position: relative;
    left: 600px;
    top:100px;
    background-color: rgba(251, 252, 249, 0.951);
    border-style: solid;
    padding: 10px;
    
}
.display-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.display{
    border: 2px solid black;
    height: 70px;
    width: 100%;
    margin: 10px;
    padding: 5px;
    font-size: 45px;
    font-family: monospace;
    text-align:right;
    
}
.buttons {
    margin:10px;
    display:grid;
    grid-template-columns: repeat(4, 85px);
    grid-template-rows: repeat(5,60px);
    gap: 12px;
}
button {
    font-size: 30px;
    border-radius: 3px;
}
button:hover {
    background-color:cyan;
}
.equals {
    grid-column-start: 4;
    grid-row-start: 2;
    grid-row-end: span 4;
}